.what-we-do-container {
  
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 30px;
  line-height: 1.5;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin:10px;
  width: 22%;
}

.btn:hover {
  background-color: #f57c00;
}